.card-body{
    padding: 2em 0!important;
    
}
.card-text{
    font-size: 0.9rem;
    padding: 0.4rem 1.9rem;
}
.container{
    padding-top: 3rem;
}
.overflow{
    overflow: hidden;
}
.card-img-top{
    /* transform: :scale(1); */
    transform: scale(1);
    transition: transform 0.5s ease;
    width: 25rem;
    height: 20rem;
}

.card-img-top:hover{
    transform: scale(1.8);
}